<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
    </p>
    <a class="cl-text-white navbar-brand cl-text-bold">
      Profile
    </a>
    <a (click)="update()" [hidden]="!f.valid" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
</nav>



<div class="container">

  <form (ngSubmit)="update()" #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="user.username" name="username" required/>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com" [(ngModel)]="user.email" name="email"/>
    </div>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" class="form-control" id="first-name" placeholder="Alice" [(ngModel)]="user.firstName" name="first-name"/>
    </div>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text" class="form-control" id="last-name" placeholder="Wonderland" [(ngModel)]="user.lastName" name="last-name"/>
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" placeholder="911" [(ngModel)]="user.phone" name="phone"/>
    </div>
    <div class="form-group">
      <label for="password">Password (Encrypted)</label>
      <input type="text" class="form-control" id="password" placeholder="password" [(ngModel)]="user.password" name="password" required/>
    </div>
    <a class="btn btn-primary btn-block"
       [routerLink]="['/user', 'website']">Websites</a>
    <a class="btn btn-danger btn-block"
       (click)="delete()">Delete User</a>
    <a class="btn btn-danger  btn-block"
       (click)="logout()">Logout</a>
  </form>
</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
  <div class="container-fuild">
    <a [routerLink]="['/profile']" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
