<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a [routerLink]="['/user', 'website', websiteId, 'page', pageId, 'widget']" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>

    <a class="navbar-brand cl-text-white cl-text-bold" >
      Choose Widget
    </a>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createHeader()">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a >Label</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createHTML()">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createText()">Text</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a >Link</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a >Button</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createImage()">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createYoutube()">YouTube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a >Data Table</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a >Repeater</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>
